<div class="container">
  <h1>Edit <%=@note.title%></h1>
  
<form method="post" action="/edit" >
  <input  type= "text" name="title" value = <%= "#{@note.title}" %>> 
  <input type = "text" name="description" value = <%="#{@note.description}"%>>
  <input type = "hidden" name = "id" value = "<%= @note.id %>" >

  <input type = "submit">
</form>

  </table>
</div>
