<div class="container">
  <h1>Notes!</h1>
  

<a href='/notes'> View your notes</a>

  <h1> Add a new note </h1>
<form method="post" action="/notes" >
  <input  type= "text" name="title" placeholder = "note title"> 
  <input type = "text" name="description" placeholder = "note description">
  <input type = "submit">
</form>

  </table>
</div>
